.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 555px 555px;
    grid-row-gap: 54px;
    grid-column-gap: 20px;
    width: 940px;
    margin: 0 auto;
  }
}
