.catalog-uploader {
  margin-bottom: 40px;
}

.catalog-uploader__group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-uploader__container {
  background-color: #f2f2f2;
  padding: 20px 0 41px 0;
}

.uploader-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
  outline: 3px solid #d22856;
  border-radius: 30px;
  border: none;
  width: 280px;
  box-sizing: border-box;
  padding: 19px 90px;
  margin: 0 auto 12px auto;

  &:hover {
    background-color: #d22856;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.uploader-button--cancel {
  color: rgba(40, 54, 69, 0.1);
  outline: 3px solid rgba(40, 54, 69, 0.1);

  &:hover {
    color: rgba(40, 54, 69, 0.3);
    outline: 3px solid rgba(40, 54, 69, 0.3);
    background-color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    outline: 3px solid rgba(40, 54, 69, 0.3);
    background-color: rgba(40, 54, 69, 0.3);
  }
}

.catalog-uploader__buttons {
  display: flex;
  flex-direction: column;
}

.catalog-uploader__group-photo-container {
  text-align: center;
  line-height: 0;
  margin-bottom: 42px;
}

.catalog-uploader__filters {
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}

.catalog-uploader__filters-item {
  margin-right: 35px;

  &:nth-child(3) {
    margin-right: 0;
  }
}

@media (min-width: @tablet-width) {
  .catalog-uploader__group {
    display: grid;
    grid-template-columns: 300px 275px;
    grid-template-rows: 200px 200px;
  }

  .uploader-button {
    max-width: 260px;
  }

  .catalog-uploader__buttons {
    grid-column: 2 / -1;
  }

  .catalog-uploader__filters {
    margin-bottom: 10px;
    flex-direction: column;
  }

  .catalog-uploader-form {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog-uploader__container {
    width: 940px;
    margin: 0 auto 28px auto;
  }

  .catalog-uploader-form {
    margin: 0;
  }

  .catalog-uploader__buttons {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 100px;
  }

  .uploader-button {
    width: 183px;
    padding: 21px 42px;
    margin-right: 44px;

    &--cancel {
      padding: 21px 55px;
    }
  }

  .catalog-uploader__group {
    grid-template-columns: 390px 275px;
  }

  .catalog-uploader__group-photo-container {
    margin-bottom: 0;
  }
}
