.catalog-heading {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.catalog-item__comment-author {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.catalog-item__comment-time {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283645;
}

.catalog__item__comment {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.catalog__item-like-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}

.catalog-item__comment-container {
  background-color: #f2f2f2;
}

.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-container {
  margin-bottom: 49px;
}

.catalog-heading-container {
  margin-bottom: 52px;
}
