.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer__logo {
  fill: #283645;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

.social__link-border-styles {
  fill: rgba(40, 54, 69, 0.1);
}

.social__link-icon-styles {
  fill: #d22856;
}

.social__link-logo:hover .social__link-border-styles {
  fill: #283645;
}

.social__link-logo:active .social__link-border-styles {
  fill: rgba(40, 54, 69, 0.1);
}


.social__link-logo:active .social__link-icon-styles {
  opacity: 0.3;
}


.copyright__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}

.copyright__logo {
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: rgba(40, 54, 69, 0.3);
  }
}
