.main-advantages__heading {
  margin: 0 0 123px 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #283645;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-advantages {
  margin-bottom: 50px;
  background-image: url(../img/grey-background.png);
  background-repeat: no-repeat;
}

.advantages-item__heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.advantages-item__description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
