.main-header {
  background-image: url("../img/backgrund-banner-clear.jpg");
  background-repeat: no-repeat;
  background-color: #1d2631;
  margin-bottom: 54px;
}

.main-header--index {
  background-image: url("../img/banner-background-image.jpg");
}

.main-header-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-header-nav__item-link {
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-header__logo-image {
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}


@media (min-width: @tablet-width) {
  .reviews__author-info {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    order: 2;
  }

  .main-footer__wrapper {
    display: flex;
  }

  .social-list {
    display: flex;
  }

  .copyright {
    display: flex;
  }
}
