.reviews {
  width: 320px;
  margin: 0 auto;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  line-height: 30px;
  color: #283645;
  padding: 0 5px;
}

.reviews__author-info {
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.reviews__item {
  margin: 0;
}

.reviews__author-occupation {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 660px;
  }

  .reviews__text {
    font-size: 18px;
    margin: 0 0 51px 0;
    padding: 0;
  }

  .reviews__author-info {
    padding: 0 31px 20px 31px;
    display: flex;
    flex-direction: column;
  }

  .reviews__author-occupation {
    display: block;
    line-height: 30px;
    margin: 0;
    order: 2;
  }

  .reviews__author-name {
    font-size: 20px;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1200px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-occupation {
    font-size: 18px;
  }

  .reviews__text {
    padding: 0 200px 0 200px;
  }
}
