.reviews {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
}

.reviews__wrapper {
  background-color: #ffffff;
  margin-top: -97px;
  padding-top: 30px;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  line-height: 30px;
  color: #283645;
  padding: 0 5px;
}

.reviews__author-info {
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.reviews__item {
  width: 320px;
  margin: 0 auto;
}

.reviews__author-occupation {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 100%;
  }

  .reviews__text {
    font-size: 18px;
    margin: 0 0 51px 0;
    padding: 0;
  }

  .reviews__author-info {
    padding: 0 11px 20px 11px;
    display: flex;
    flex-direction: column;
  }

  .reviews__author-occupation {
    display: block;
    line-height: 30px;
    margin: 0;
    order: 2;
  }

  .reviews__author-name {
    font-size: 20px;
    order: 2;
  }

  .reviews__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .reviews__item {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 100%;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-occupation {
    font-size: 18px;
  }

  .reviews__text {
    width: 688px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/reviews-quotes.svg");
      width: 79px;
      height: 63px;
      top: -91px;
      left: 299px;
    }
  }

  .reviews__wrapper {
    width: 940px;
  }

  .reviews__item {
    width: 100%;
    position: relative;
  }

  .reviews__toggles {
    display: none;
  }
}
