.slider__toggle {
  width: 6px;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  padding: 6px;
  border-radius: 50%;
  border: none;
  margin: 0 19px 0 0;

  &--current {
    background-color: #ffffff;
    border: 3px solid #283645;
    opacity: 1;
  }
}

.slider__toggles {
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}
