@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.inner-page-heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding: 0 20px 0 20px;
}
@media (min-width: 660px) {
  .inner-page-heading {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .inner-page-heading {
    padding: 0 211px 0 211px;
  }
}
.main-header {
  background-image: url("../img/backgrund-banner-clear.jpg");
  background-repeat: no-repeat;
  background-color: #1d2631;
  margin-bottom: 54px;
  height: 237px;
}
.main-header--index {
  background-image: url("../img/banner-background-image.jpg");
  height: -moz-fit-content;
  height: fit-content;
}
.main-header__nav {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 66px;
  position: relative;
}
.main-header__nav-toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 50px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: block;
  z-index: 2;
  padding: 0;
}
.main-header__nav--closed .main-header__nav-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}
.main-header__nav--closed .main-header__nav-toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
}
.main-header__nav--closed .main-header__nav-toggle:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 20px 0 0 rgba(210, 40, 86, 0.3);
}
.main-header__nav--opened .main-header__nav-toggle {
  top: 10;
  left: 10;
}
.main-header__nav--opened .main-header__nav-toggle::before,
.main-header__nav--opened .main-header__nav-toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
}
.main-header__nav--opened .main-header__nav-toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-header__nav--opened .main-header__nav-toggle::after {
  transform: rotate(-45deg);
}
.main-header__nav--opened .main-header__nav-toggle:hover::before,
.main-header__nav--opened .main-header__nav-toggle:hover::after {
  background-color: #d22856;
}
.main-header__nav--opened .main-header__nav-toggle:active::before,
.main-header__nav--opened .main-header__nav-toggle:active::after {
  background-color: rgba(210, 40, 86, 0.3);
}
.main-header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
.main-header__nav-item-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #283645;
  display: block;
  padding: 15px 0 15px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
}
.main-header__nav-item-link:hover {
  color: #d22856;
}
.main-header__nav-item-link:active {
  color: rgba(210, 40, 86, 0.3);
}
.main-header__logo-image {
  fill: #ffffff;
}
.main-header__logo-image:hover {
  fill: #d22856;
}
.main-header__logo-image:active {
  fill: rgba(255, 255, 255, 0.3);
}
.main-header__logo {
  padding: 22px 20px;
  width: 74px;
  height: 23px;
  display: block;
}
@media (max-width: 767px) {
  .main-header__nav--closed .main-header__nav-item {
    display: none;
  }
  .main-header__nav--opened {
    background-color: #283645;
  }
  .main-header__nav--nojs .main-header__nav-toggle {
    display: none;
  }
  .main-header__nav--nojs .main-header__nav-item {
    display: block;
  }
}
@media (min-width: 660px) {
  .main-header {
    height: 440px;
  }
  .main-header--index {
    height: -moz-fit-content;
    height: fit-content;
  }
  .reviews__author-info {
    display: flex;
    flex-direction: column;
  }
  .reviews__author-name {
    order: 2;
  }
  .main-footer__wrapper {
    display: flex;
  }
  .main-header__nav {
    width: 660px;
    margin: 0 auto 102px auto;
  }
  .main-header__nav--opened {
    background-color: #283645;
  }
  .main-header__nav--closed .main-header__nav-item {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header {
    min-height: 394px;
  }
  .main-header--index {
    min-height: 853px;
  }
  .main-header__nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .main-header__nav-toggle {
    display: none;
  }
  .main-header__nav-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 700px;
  }
  .main-header__nav-item-link {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    text-transform: none;
  }
  .main-header__nav-item {
    margin-right: 79px;
  }
  .main-header__nav-item:last-child {
    margin-right: 0;
  }
  .main-header__nav--closed .main-header__nav-item {
    display: block;
  }
  .main-header__logo {
    margin-right: 173px;
    margin-left: 150px;
  }
}
.main-banner {
  width: 320px;
  margin: 0 auto 0 0;
}
.main-banner__heading-wrapper {
  margin-bottom: 105px;
}
.main-banner__heading-wrapper--index {
  margin-bottom: 348px;
}
.main-banner__heading {
  padding: 20px 8px 0 8px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.main-banner__description {
  margin: 0;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.main-banner__download-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px;
  padding: 14px 0;
  width: 280px;
  text-align: center;
  align-self: center;
  margin-bottom: 32px;
}
.main-banner__download-link:hover {
  background-color: #ffffff;
  color: #d22856;
}
.main-banner__download-link:active {
  background-color: #ffffff;
  color: rgba(210, 40, 86, 0.3);
}
.main-banner__container {
  display: flex;
  flex-direction: column;
}
.main-banner__os-logotypes-list {
  display: flex;
  width: 205px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  align-items: baseline;
  margin-bottom: 28px;
}
@media (min-width: 660px) {
  .main-banner {
    max-width: 350px;
  }
  .main-banner__heading {
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
    padding: 20px 27px 0 26px;
  }
  .main-banner__heading--catalog {
    padding: 20px 70px 0 70px;
  }
  .main-banner__heading--competition {
    padding: 20px 80px 0 80px;
  }
  .main-banner__heading-wrapper--index {
    margin-bottom: 0;
  }
  .main-banner__download-link {
    margin-bottom: 46px;
    width: 300px;
  }
  .main-banner__description {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .main-banner__container {
    width: 300px;
    margin: 114px 0 0 200px;
  }
  .main-banner__heading {
    margin-bottom: 51px;
    font-size: 50px;
    line-height: 68px;
    padding: 74px 40px 0 40px;
  }
  .main-banner__heading--catalog {
    padding: 74px 300px 0 300px;
  }
  .main-banner__heading--competition {
    padding: 74px 80px 0 80px;
  }
  .main-banner__download-link {
    font-size: 21px;
    margin-bottom: 67px;
  }
  .main-banner__os-logotypes-list {
    margin-bottom: 58px;
  }
  .main-banner__description {
    padding: 0 0 20px 0;
  }
}
.main-advantages__heading {
  margin: 0 0 45px 0;
  text-align: center;
  padding: 20px 20px 0 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #283645;
}
.main-advantages__heading--second {
  margin-bottom: 123px;
}
.main-advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-advantages {
  background-image: url("../img/grey-background.png");
  background-repeat: no-repeat;
  background-position: 0 214px;
  width: 320px;
  margin: 0 auto 50px auto;
}
.main-advantages__item {
  text-align: center;
}
.main-advantages__item-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.main-advantages__item-description {
  color: #283645;
  margin: 0;
  padding: 5px 26px 0 26px;
  margin-bottom: 43px;
}
.main-advantages__picture-container {
  text-align: center;
}
@media (min-width: 660px) {
  .main-advantages {
    width: 660px;
  }
  .main-advantages__container {
    display: flex;
    width: 620px;
  }
  .main-advantages__picture-container {
    order: -1;
  }
  .main-advantages__heading {
    font-size: 40px;
    line-height: 54px;
    margin: 0;
  }
  .main-advantages__heading--second {
    padding: 0 50px 0 50px;
    margin-bottom: 47px;
  }
  .main-advantages__item {
    text-align: start;
    padding-left: 42px;
  }
  .main-advantages__item-description {
    padding-left: 0;
  }
  .main-advantages__item-heading {
    display: inline-block;
    padding: 0 19px;
  }
}
@media (min-width: 1200px) {
  .main-advantages__container {
    min-width: 1200px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 382px 218px;
    grid-column-gap: 20px;
    justify-content: center;
  }
  .main-advantages {
    margin-bottom: 76px;
    width: 1200px;
  }
  .main-advantages__heading {
    font-size: 50px;
    line-height: 68px;
  }
  .main-advantages__heading--second {
    padding: 0 236px 0 237px;
    margin-bottom: 72px;
  }
  .main-advantages__list {
    display: flex;
    flex-direction: row;
    grid-row: 2 / -2;
    grid-column: 1 / -1;
    justify-content: space-around;
  }
  .main-advantages__picture-container {
    grid-column: 3 / -1;
  }
  .main-advantages__item {
    text-align: center;
    padding: 0;
    width: 260px;
  }
  .main-advantages__item-heading {
    font-size: 30px;
    line-height: 30px;
    width: 234px;
  }
  .main-advantages__item-description {
    font-size: 18px;
    line-height: 30px;
    padding: 0 15px 0 15px;
    margin: 35px 0 0 0;
  }
}
.reviews {
  width: 320px;
  margin: 0 auto;
}
.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.reviews__text {
  line-height: 30px;
  color: #283645;
  padding: 0 5px;
}
.reviews__author-info {
  text-align: center;
  padding: 20px 20px 20px 20px;
}
.reviews__item {
  margin: 0;
}
.reviews__author-occupation {
  display: none;
}
@media (min-width: 660px) {
  .reviews {
    width: 660px;
  }
  .reviews__text {
    font-size: 18px;
    margin: 0 0 51px 0;
    padding: 0;
  }
  .reviews__author-info {
    padding: 0 31px 20px 31px;
  }
  .reviews__author-occupation {
    display: block;
    line-height: 30px;
    margin: 0;
    order: 2;
  }
  .reviews__author-name {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    width: 1200px;
  }
  .reviews__author-name {
    font-size: 24px;
  }
  .reviews__author-occupation {
    font-size: 18px;
  }
  .reviews__text {
    padding: 0 200px 0 200px;
  }
}
.prices__table-item {
  line-height: 30px;
  color: #283645;
}
.prices__table-item-column {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background-color: #283645;
  text-align: center;
  width: 152px;
}
.prices {
  background-image: url("../img/prices-grey-background.png");
  margin-bottom: 96px;
  background-repeat: no-repeat;
}
.prices__table-item-cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
.prices__wrapper {
  padding-top: 127px;
}
.prices__table {
  margin-bottom: 45px;
}
.prices__wrapper-toggle {
  padding-bottom: 50px;
}
@media (min-width: 660px) {
  .prices {
    width: 660px;
    margin: 0 auto 45px auto;
  }
  .prices__table {
    margin: 0 auto;
  }
  .prices__wrapper-toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .prices {
    width: 1200px;
    margin: 0 auto 45px auto;
  }
}
.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #283645;
  margin: 0 0 45px 0;
}
.contacts__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #283645;
}
.contacts__description {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  margin: 0;
  padding: 0 40px;
}
.contacts__description--mail:hover {
  color: #283645;
}
.contacts__description--mail:active {
  color: rgba(40, 54, 69, 0.3);
}
.contacts {
  text-align: center;
  width: 320px;
  margin: 0 auto 40px auto;
}
.contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}
.contacts__item a {
  text-decoration: none;
}
@media (min-width: 660px) {
  .contacts {
    width: 660px;
  }
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    justify-content: center;
  }
  .contacts__item {
    display: flex;
    flex-direction: column;
  }
  .contacts__title {
    font-size: 40px;
    line-height: 54px;
    padding: 0 80px 0 80px;
  }
  .contacts__map {
    width: 660px;
    height: 374px;
  }
  .contacts__description--adress {
    width: 211px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    width: 1200px;
  }
  .contacts__wrapper {
    width: 1200px;
  }
  .contacts__map {
    width: 1200px;
    height: 502px;
  }
  .contacts__item--adress {
    order: -1;
  }
  .contacts__item--telephone {
    order: -1;
  }
  .contacts__title {
    padding: 0 350px 0 350px;
  }
}
.main-footer__social-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0 auto;
  width: 180px;
  justify-content: space-around;
}
.main-footer__logo {
  fill: #283645;
}
.main-footer__logo:hover {
  fill: #d22856;
}
.main-footer__logo:active {
  fill: #283645;
  opacity: 0.3;
}
.main-footer__social-link-border-styles {
  fill: rgba(40, 54, 69, 0.1);
}
.main-footer__social-link-icon-styles {
  fill: #d22856;
}
.main-footer__social-link-logo:hover .main-footer__social-link-border-styles {
  fill: #283645;
}
.main-footer__social-link-logo:active .main-footer__social-link-border-styles {
  fill: rgba(40, 54, 69, 0.1);
}
.main-footer__social-link-logo:active .main-footer__social-link-icon-styles {
  opacity: 0.3;
}
.main-footer__copyright-text {
  line-height: 18px;
  color: #283645;
  margin-right: 15px;
}
.main-footer__copyright-logo {
  fill: #d22856;
}
.main-footer__copyright-logo:hover {
  fill: #283645;
}
.main-footer__copyright-logo:active {
  fill: rgba(40, 54, 69, 0.3);
}
.main-footer__wrapper {
  text-align: center;
}
.main-footer__logo-container {
  margin-bottom: 38px;
}
.main-footer__social {
  margin-bottom: 38px;
}
.main-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 660px) {
  .main-footer__wrapper {
    display: flex;
    width: 660px;
    margin: 0 auto;
  }
  .main-footer__social-list {
    display: flex;
  }
  .main-footer__copyright {
    display: flex;
    align-items: flex-start;
  }
  .main-footer__logo-container {
    margin-right: 74px;
  }
  .main-footer__social {
    margin-right: 89px;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    justify-content: space-around;
    width: 1200px;
  }
}
.catalog-container {
  width: 320px;
  margin: 0 auto 49px auto;
}
@media (min-width: 660px) {
  .catalog-container {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .catalog-container {
    width: 1200px;
  }
}
.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 660px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .catalog-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 602px 555px 555px;
  }
}
.catalog-item {
  width: 280px;
  margin: 0 auto 20px auto;
}
.catalog-item--photo-of-day {
  width: 320px;
}
.catalog-item__comment-author {
  font-weight: 700;
  color: #283645;
}
.catalog-item__comment-time {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: #283645;
}
.catalog-item__comment-text {
  color: #283645;
  margin: 0;
}
.catalog-item__likes-text {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
.catalog-item__comment-container {
  background-color: #f2f2f2;
  width: 253px;
  padding: 25px 10px 25px 17px;
  margin: 0 auto;
}
.catalog-item__comment-container-likes {
  display: flex;
  flex-direction: row;
}
.catalog-item__likes-link {
  margin-right: 20px;
  align-self: center;
}
.catalog-item__photo-container {
  line-height: 0;
}
@media (min-width: 660px) {
  .catalog-item--photo-of-day {
    flex-grow: 1;
    width: 660px;
  }
  .catalog-item--photo-of-day .catalog-item__comment-container {
    width: 620px;
    display: grid;
    grid-template-columns: 310px 310px;
    grid-template-rows: 28px 40px;
  }
  .catalog-item__comment-container-likes {
    grid-column: 2 / -1;
    grid-row: 1 / -2;
  }
  .catalog-item--photo-of-day .catalog-item__comment-container .catalog-item__comment-container-likes {
    margin-left: 180px;
  }
  .catalog-item--photo-of-day .catalog-item__comment-container .catalog-item__comment-container-likes p {
    margin: 0 16px 0 0;
  }
  .catalog-item--photo-of-day .catalog-item__comment-container .catalog-item__comment-container-likes a {
    align-self: flex-start;
  }
  .catalog-item__comment-text {
    grid-column: 1 / -1;
  }
  .catalog-item--photo-of-day .catalog-item__photo-container {
    width: 660px;
  }
  .catalog-item__likes-link {
    order: 2;
    margin: 0;
    align-self: flex-end;
  }
  .catalog-item__likes-text {
    margin: 27px 137px 0 0;
  }
}
@media (min-width: 1200px) {
  .catalog-item--photo-of-day {
    grid-column: 1 / -1;
  }
  .catalog-item--photo-of-day .catalog-item__comment-container {
    width: 940px;
    grid-template-columns: 450px 450px;
  }
  .catalog-item--photo-of-day .catalog-item__comment-container .catalog-item__comment-container-likes {
    margin-left: 320px;
  }
}
.catalog-uploader {
  margin-bottom: 40px;
}
.catalog-uploader__group {
  border: none;
  margin: 0;
  padding: 0;
}
.catalog-uploader__container {
  background-color: #f2f2f2;
  padding: 20px 0 41px 0;
}
.uploader-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
  outline: 3px solid #d22856;
  border-radius: 30px;
  border: none;
  width: 280px;
  box-sizing: border-box;
  padding: 19px 90px;
  margin: 0 auto 12px auto;
}
.uploader-button:hover {
  background-color: #d22856;
  color: #ffffff;
}
.uploader-button:active {
  color: rgba(255, 255, 255, 0.3);
}
.uploader-button--cancel {
  color: rgba(40, 54, 69, 0.1);
  outline: 3px solid rgba(40, 54, 69, 0.1);
}
.uploader-button--cancel:hover {
  color: rgba(40, 54, 69, 0.3);
  outline: 3px solid rgba(40, 54, 69, 0.3);
  background-color: #ffffff;
}
.uploader-button--cancel:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 3px solid rgba(40, 54, 69, 0.3);
  background-color: rgba(40, 54, 69, 0.3);
}
.catalog-uploader__buttons {
  display: flex;
  flex-direction: column;
}
.catalog-uploader__group-photo-container {
  text-align: center;
  line-height: 0;
  margin-bottom: 42px;
}
.catalog-uploader__filters {
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}
.catalog-uploader__filters-item {
  margin-right: 35px;
}
.catalog-uploader__filters-item:nth-child(3) {
  margin-right: 0;
}
@media (min-width: 660px) {
  .catalog-uploader__group {
    display: grid;
    grid-template-columns: 300px 275px;
    grid-template-rows: 200px 200px;
  }
  .uploader-button {
    max-width: 260px;
  }
  .catalog-uploader__buttons {
    grid-column: 2 / -1;
  }
  .catalog-uploader__filters {
    margin-bottom: 10px;
    flex-direction: column;
  }
  .catalog-uploader-form {
    width: 660px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .catalog-uploader__container {
    width: 940px;
    margin: 0 auto 28px auto;
  }
  .catalog-uploader-form {
    margin: 0;
  }
  .catalog-uploader__buttons {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 100px;
  }
  .uploader-button {
    width: 183px;
    padding: 21px 42px;
    margin-right: 44px;
  }
  .uploader-button--cancel {
    padding: 21px 55px;
  }
  .catalog-uploader__group {
    grid-template-columns: 390px 275px;
  }
  .catalog-uploader__group-photo-container {
    margin-bottom: 0;
  }
}
.competition-form-container {
  width: 320px;
  margin: 0 auto;
}
.competition-heading-container {
  width: 320px;
  margin: 0 auto;
}
.competition-form-labels {
  color: #d22856;
  line-height: 30px;
  padding-left: 22px;
}
.competition-form-item__field {
  padding: 23px 0 23px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}
.competition-form-item__field::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.competition-form__checkbox-labels {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.competition-form__group {
  border: none;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
}
.competition-form-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.competition-form__group-legend {
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  padding: 0 50px 0 50px;
  margin: 0;
  margin-bottom: 22px;
  text-align: center;
}
.competition-form__group-legend--contact-information {
  display: none;
}
.competition-form__group--achievements .competition-form__group-legend {
  padding-top: 51px;
}
.competition-form__group--os .competition-form__group-legend {
  padding-top: 51px;
}
.competition-form__group--achievements,
.competition-form__group--os {
  background-color: #f2f2f2;
}
.competition-form__submit-button {
  background-color: #2aab6d;
  border-radius: 1px;
  border: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 23px 45px;
}
.competition-form__submit-button:hover {
  background-color: #1c9b5e;
}
.competition-form__submit-button:active {
  background-color: #1c9b5e;
  color: rgba(255, 255, 255, 0.3);
}
.competition-form__submit-button:disabled {
  background-color: #e5e5e5;
}
.competition-form__button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
}
.competition-form__item {
  display: flex;
  flex-direction: column;
}
.competition-form__description {
  text-transform: uppercase;
}
.competition-form__description-star {
  color: #d22856;
}
.competition-form__group-comment-field {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: none;
  outline: 2px solid #e5e5e5;
  border-radius: 1px;
  width: 276px;
  height: 197px;
}
.competition-form__group-comment-field::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
.competition-form__group-comment-field:hover {
  outline: 2px solid #283645;
  border-radius: 1px;
}
.competition-form__group-comment-field:active {
  outline: 2px solid #d22856;
  border-radius: 1px;
}
@media (min-width: 660px) {
  .competition-form-container {
    width: 660px;
  }
  .competition-form__item {
    flex-direction: row;
    margin-bottom: 56px;
  }
  .competition-form__item--contact-information {
    flex-direction: column;
  }
  .competition-form {
    display: flex;
    flex-direction: column;
  }
  .competition-form__group {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }
  .competition-form__group--personal {
    border: none;
    order: -2;
  }
  .competition-form__group--os {
    order: -1;
  }
  .competition-form__group--achievements {
    order: 1;
  }
  .competition-form__group--comment {
    order: 2;
  }
  .competition-form__button-container {
    flex-direction: row;
    order: 3;
  }
  .competition-form-labels {
    font-size: 18px;
    margin-right: 20px;
    align-self: center;
  }
  .competition-form__item--contact-information .competition-form-labels {
    order: 2;
    align-self: flex-start;
    padding: 22px 0 0 77px;
  }
  .competition-form__item--contact-information .competition-form-item__field {
    margin: 0 60px 0 60px;
  }
  .competition-form-item__field {
    flex-grow: 1;
  }
  .competition-heading-container {
    width: 660px;
    margin-bottom: 82px;
  }
  .competition-form__group-legend {
    line-height: 30px;
  }
  .competition-form__group-legend--contact-information {
    display: block;
  }
  .competition-form__group--achievements,
  .competition-form__group--os {
    background-color: #ffffff;
  }
  .competition-form__group-comment-field {
    display: block;
    width: 496px;
    height: 189px;
    margin: 0 auto 53px auto;
  }
  .competition-form__submit-button {
    margin-right: 140px;
    padding: 23px 55px;
  }
  .competition-form__description {
    line-height: 30px;
  }
  .competition-form__group--achievements .competition-form__group-legend {
    padding-top: 0;
  }
  .competition-form__group--os .competition-form__group-legend {
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .competition-form {
    display: grid;
    grid-template-columns: 470px 470px;
    grid-template-rows: 435px 222px 230px 295px 142px;
    grid-column-gap: 74px;
  }
  .competition-heading-container {
    width: 1200px;
  }
  .competition-form__group-phone-mail {
    grid-column: 1 / -1;
    grid-row: 2 / -4;
  }
  .competition-form-list--phone-mail {
    display: flex;
  }
  .competition-form__group--achievements {
    grid-column: 1 / -1;
  }
  .competition-form__group--comment {
    grid-column: 1 / -1;
  }
  .competition-form__button-container {
    grid-column: 1 / -1;
  }
  .competition-form__group--os {
    width: 431px;
    height: 297px;
  }
  .competition-form-container {
    width: 940px;
  }
  .competition-form-labels {
    font-size: 14px;
  }
  .competition-form-item__field::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
  .competition-form-list--achievements {
    display: flex;
    flex-wrap: wrap;
    width: 812px;
    margin: 0 auto;
  }
  .competition-form__item--achievements-shark {
    order: -6;
  }
  .competition-form__item--achievements-chuck {
    order: -5;
  }
  .competition-form__item--achievements-tower {
    order: -4;
  }
  .competition-form__item--achievements-sunburned {
    order: -3;
  }
  .competition-form__item--achievements-souvenirs {
    order: -2;
  }
  .competition-form__item--achievements-hotel {
    order: -1;
  }
  .competition-form-list--achievements .competition-form__item {
    width: 257px;
  }
  .competition-form__group-comment-field {
    height: 124px;
    width: 816px;
  }
  .competition-form__submit-button {
    margin-right: 540px;
  }
}
.effect {
  display: none;
}
@media (min-width: 660px) {
  .effect {
    display: flex;
    width: 660px;
    margin: 0 auto 109px auto;
  }
  .effect__text-container {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: 72px;
    align-self: center;
  }
  .effect__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
  .effect__link {
    color: #d22856;
  }
}
@media (min-width: 1200px) {
  .effect__text-container {
    width: 530px;
  }
  .effect__title {
    line-height: 30px;
  }
  .effect__description {
    font-size: 18px;
    line-height: 30px;
  }
  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
  .effect {
    width: 1200px;
    margin: 0 auto 109px auto;
  }
  .effect__timer-container {
    margin-left: 131px;
  }
}
.catalog-heading-container {
  width: 320px;
  margin: 0 auto 60px auto;
}
.catalog-heading-container .inner-page-heading {
  padding: 0 40px 0 40px;
}
@media (min-width: 660px) {
  .catalog-heading-container {
    width: 660px;
  }
  .competition-heading-container .inner-page-heading {
    padding: 0 80px 0 80px;
  }
  .catalog-heading-container .inner-page-heading {
    padding: 0 80px 0 80px;
  }
}
@media (min-width: 1200px) {
  .catalog-heading-container {
    width: 1200px;
  }
  .catalog-heading-container .inner-page-heading {
    padding: 0 300px 0 300px;
  }
  .competition-heading-container .inner-page-heading {
    padding: 0 220px 0 220px;
  }
}
.slider__toggle {
  width: 6px;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  padding: 6px;
  border-radius: 50%;
  border: none;
  margin: 0 19px 0 0;
}
.slider__toggle--current {
  background-color: #ffffff;
  border: 3px solid #283645;
  opacity: 1;
}
.slider__toggles {
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}
/*# sourceMappingURL=style.css.map */
